{{#grafana}}
version: "3.9"

configs:
{{#?prometheus}}
  datasources-prometheus.yaml:
    name: {{name}}-datasources-prometheus.yaml-{{$root.DEPLOYMENT_JOB_ID}}
{{#$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    external: true
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{^$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    file: ./etc/common/datasources-prometheus.yaml
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{/?prometheus}}
{{#?loki}}
  datasources-loki.yaml:
    name: {{name}}-datasources-loki.yaml-{{$root.DEPLOYMENT_JOB_ID}}
{{#$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    external: true
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{^$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    file: ./etc/common/datasources-loki.yaml
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{/?loki}}
  grafana.ini:
    name: {{name}}-grafana.ini-{{$root.DEPLOYMENT_JOB_ID}}
{{#$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    external: true
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{^$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    file: ./etc/{{$root.DEPLOYMENT_CLUSTER}}/grafana.ini
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}

secrets:
  GRAFANA_ADMIN_PASSWORD:
    name: {{name}}-GRAFANA_ADMIN_PASSWORD-{{$root.DEPLOYMENT_JOB_ID}}
{{#$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    external: true
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
{{^$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}
    file: ./.secret/{{name}}/GRAFANA_ADMIN_PASSWORD
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
{{/$root.DEPLOYMENT_EXTERNAL_CONFIGS_AND_SECRETS}}

volumes:
  grafana:
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"

networks:
  internet-access:
    name: bridge
    external: true
{{#network.$array}}
  {{ . }}:
    driver: overlay
    attachable: false
    internal: true
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
{{/network.$array}}

services:
  {{name}}:
    image: grafana/grafana:11.5.2
    volumes:
      - grafana:/var/lib/grafana
    configs:
{{#?prometheus}}
      - source: datasources-prometheus.yaml
        target: /etc/grafana/provisioning/datasources/prometheus.yaml
        mode: 0444
{{/?prometheus}}
{{#?loki}}
      - source: datasources-loki.yaml
        target: /etc/grafana/provisioning/datasources/loki.yaml
        mode: 0444
{{/?loki}}
      - source: grafana.ini
        target: /etc/grafana/grafana.ini
        mode: 0444
    secrets:
      - source: GRAFANA_ADMIN_PASSWORD
        target: /run/secrets/GF_SECURITY_ADMIN_PASSWORD
        mode: 0644
    networks:
      internet-access: # Access to external Redis instance
{{#network.$array}}
      {{ . }}:
        aliases:
          - {{alias}}
{{/network.$array}}
    labels:
      - "io.edgebus.ops=true"
      - "io.edgebus.ops.atom.{{$root.DEPLOYMENT_CLUSTER}}.{{name}}=true"
      - "io.edgebus.ops.commit={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.commit}}={{$root.DEPLOYMENT_COMMIT}}"
      - "{{label.pipeline}}={{$root.DEPLOYMENT_PIPELINE_URL}}"
      - "{{label.version}}={{$root.DEPLOYMENT_VERSION}}"
    logging:
      driver: local
      options:
        compress: "false"
        max-size: "50m"
        max-file: 5
{{#ulimits}}
    ulimits: # overrides the default ulimits for a container.
      nproc: {{nproc}} # processes/threads
      {{#nofile}}
      nofile: # file descriptors
        soft: {{soft}} # may be changed later, up to the hard limit value, by the process running with these limits
        hard: {{hard}} # maximum number of opened files
      {{/nofile}}
{{/ulimits}}
    deploy:
      mode: "global"
      resources: # configures physical resource constraints for container to run on platform.
{{#resources}}
{{#limits}}
        limits:          # The platform must prevent the container to allocate more.
          cpus: "{{cpus}}" # how much of the available CPU resources, as number of cores, a container can use.
          memory: "{{memory}}" # amount of memory a container can allocate
{{/limits}}
{{#reservations}}
        reservations:    # The platform must guarantee the container can allocate at least the configured amount.
          cpus: "{{cpus}}" # how much of the available CPU resources, as number of cores, a container can use.
          memory: "{{memory}}" # amount of memory a container can allocate
{{/reservations}}
{{/resources}}
      placement:
        constraints:
          - node.labels.io.edgebus.ops==true
{{#placement_constraint.$array}}
          - node.labels.{{ . }}==true
{{/placement_constraint.$array}}
      # How the service should be updated
      update_config:
        # The number of containers to update at a time.
        parallelism: 1
        # Order of operations during updates
        order: {{deploy.update_config.order}}
        # What to do if an update fails
        failure_action: pause
        # The time to wait between updating a group of containers
        delay: 10s
        # Duration after each task update to monitor for failure
        monitor: 5s
      # If and how to restart containers when they exit.
      restart_policy:
        # containers are restarted regardless of the exit status
        condition: any
        # How long to wait between restart attempts
        delay: 30s
        # How many times to attempt to restart a container before giving up
        max_attempts: 2
        # How long to wait before deciding if a restart has succeeded
        window: 120s
      labels:
      - "traefik.enable=true"
      - "traefik.scope=apps"
      - "traefik.docker.network=cluster_loadbalancer-grafana-tier"

      - "traefik.http.services.cluster_grafana.loadbalancer.server.port=8080"
{{#expose.?lb}}
{{#?http}}
      # HTTP
      - "traefik.http.routers.cluster_grafana-http.rule=Host(`{{domain}}`)"
      - "traefik.http.routers.cluster_grafana-http.service=cluster_grafana"
      - "traefik.http.routers.cluster_grafana-http.entrypoints={{entrypoints}}"
      - "traefik.http.routers.cluster_grafana-http.middlewares={{middlewares}}"
{{/?http}}
{{#?https}}
      # HTTPS
      - "traefik.http.routers.cluster_grafana-https.rule=Host(`{{domain}}`)"
      - "traefik.http.routers.cluster_grafana-https.service=cluster_grafana"
      - "traefik.http.routers.cluster_grafana-https.entrypoints={{entrypoints}}"
      - "traefik.http.routers.cluster_grafana-https.middlewares={{middlewares}}"
      - "traefik.http.routers.cluster_grafana-https.tls=true"
      - "traefik.http.routers.cluster_grafana-https.tls.certresolver={{certresolver}}"
{{#domains.$array}}
      - "traefik.http.routers.cluster_grafana-https.tls.domains[{{index}}].main={{main}}"
      - "traefik.http.routers.cluster_grafana-https.tls.domains[{{index}}].sans={{sans}}"
{{/domains.$array}}
{{/?https}}
{{/expose.?lb}}
{{/grafana}}
